%h2 Sign up
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :first_name
    = f.input :last_name
    = f.input :organization, hint:"Your organization or agency"
    = f.label :location_id, "Associated location<br/>(If your location is not in this list, <a href='http://weconnectchicago.org/contact-us/'>contact us</a>)".html_safe
    = f.select :location_id, locationNameList
    = f.input :twitter_handle, hint:"(optional)"
    = f.input :email, hint:"Enter your email address"
    = f.input :password, hint:"Enter password"
    = f.input :password_confirmation, hint:"Confirm password"
  = f.buttons do
    = f.commit_button :button_html => {:class => "primary", :value => "Sign up!"}
= render :partial => "devise/shared/links"
