- title "Location changes"
%h2 Changes to locations

- @location_changes.each do |location|
  .row
    .span3
      .well
        %h4
          %a{:href => "/location/#{location[:slug]}"}
            =location[:name]
        %p
          = "by #{location.admin.first_name} #{location.admin.last_name}"
          %br
          = "on #{location[:created_at].to_s(:long)}"
    .span9
      %table.table.table-bordered
        %thead
          %tr
            %th Field
            %th Old
            %th New
        %tbody
          - change = JSON.parse(location[:change])
          - change.each do |name, value|
            %tr
              %td
                = name
              %td{:style => 'color: red;'}
                = value[0]
              %td{:style => 'color: green;'}
                = value[1]