%h2 Forgot your password?

= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email, hint:"Enter your email address"
  = f.buttons do
    = f.commit_button :button_html => {:class => "primary", :value => "Send me reset password instructions"}

= render :partial => "devise/shared/links"
