- title "Edit '#{@location_title}'"
%h2
  Edit
  = "'#{@location_title}'"

%p 
  %abbr{:title => "required" } *
  \= required field

.row-fluid
  .span7
    = render "location/form"
    %a.btn{:href => "/location/#{params[:id]}"} Cancel

  .span5
    .well
      %h3 Additional details

      %dl.dl-horizontal
        %dt
          Id
        %dd
          = @location.id
        %dt
          Tec Services Id
        %dd
          = @location.tecservices_id
        %dt
          URL
        %dd
          %a{:href => "http://locations.weconnectchicago.org/#{@location.slug}"}
            = "http://locations.weconnectchicago.org/#{@location.slug}"
        %dt
          Flickr tag
        %dd
          %a{:href => "http://www.flickr.com/photos/tags/#{@location.flickr_tag}/"}
            = @location.flickr_tag
        %dt
          Location (lat/lng)
        %dd
          = "#{@location.latitude}, #{@location.longitude}"