%h2
  Editing
  = "'#{@location_title}'"

.row
  .span7
    = simple_form_for(:location, :html => { :class => 'form-horizontal' }) do |f|
      - unless @location.errors.messages.length == 0
        .alert.alert-error.fade.in
          %a.close{"data-dismiss" => "alert", :href => "#"} &times;
          %h4 Plese review the following errors:
          %ul
          - @location.errors.messages.each do |error|
            %li 
              = "#{error[0].to_s.humanize} #{error[1][0]}"

      %fieldset
        %legend Basic information
        .form-inputs.row
          = f.input :organization_name
          = f.input :organization_type, :collection => ["Chicago Housing Authority", "Chicago Public Library", "Chicago Public School", "City Colleges of Chicago", "Community Service Center", "Community Technology Center", "Senior Center", "WorkForce Center", "WorkNet Chicago", "Youth Career Development Center"]
     
      = f.button :submit, :button_html => {:class => "btn-primary", :value => "Save"}

  .span5
    .well
      %h3 Additional details

      %dl.dl-horizontal
        %dt
          Id
        %dd
          = @location.id
        %dt
          Tec Services Id
        %dd
          = @location.tecservices_id
        %dt
          URL
        %dd
          %a{:href => "http://locations.weconnectchicago.org/#{@location.slug}"}
            = "http://locations.weconnectchicago.org/#{@location.slug}"
        %dt
          Flickr tag
        %dd
          %a{:href => "http://www.flickr.com/photos/tags/#{@location.flickr_tag}/"}
            = @location.flickr_tag
        %dt
          Location (lat/lng)
        %dd
          = "#{@location.latitude}, #{@location.longitude}"

/ id - can't edit
/ checked - hidden
/ notes
/ slug - can't edit
/ tecservicesid - can't edit
/ organization_name
/ organization_type
/ full_address - generated based on other fields
/ address
/ city
/ state
/ zip_code
/ org_phone
/ hours
/ website
/ appointment
/ internet
/ wifi
/ training
/ pc_use_restrictions
/ hardware_public
/ assistive_technology
/ internet_upload
/ internet_download
/ volunteers_used
/ volunteers_used_how
/ volunteers_wanted_how
/ public_wifi_detail
/ nearest_parking
/ nearest_parking_detail
/ public_transportation_detail
/ time_allowed_per_user
/ time_allowed_per_user_detail
/ room_list
/ handicap_access_detail
/ friendly_description
/ agency_leadership_contact
/ agency_staff_person_contact_email
/ twitter_handle
/ training_types
/ flickr_tag - can't edit
/ training_headline
/ training_description
/ training_url
/ october_open_house
/ location_leadership
/ location_leadership_email
/ pcc_staff_person
/ pcc_staff_person_email
/ latitude - geocoded based on saved address
/ longitude - geocoded based on saved address