%h1 All locations

- @locations.each do |location|
  .row-fluid.item-list
    .span8
      %a{:href => "/location/#{location[:slug]}"}
        %span.lead
          = location[:organization_name]
      %br
      = location[:organization_type]
      %br
      = formatAddress location[:address], location[:city], location[:state], location[:zip_code], location[:roomlist]
      %br
      - unless location[:hours].nil?
        = location[:hours]