- title @location[:organizationname] + " - Tech Locator"
- content_for :javascripts do
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" 
  = javascript_include_tag :location
  :javascript 
    $(function(){
      initializeMap();
    
      if (map != null)
        displayPoint("#{encodeAddress(@location[:full_address])}");
    });
.row
  .span7
    %h2
      = @location[:organizationname]
    %p.lead
      = @location[:organizationtype]

    %p
      / AddThis Button BEGIN
      .addthis_toolbox.addthis_default_style
        %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
        %a.addthis_button_tweet
        %a.addthis_counter.addthis_pill_style
      :javascript
        var addthis_config = {"data_track_addressbar":false};
      %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5023cf8c771737b1", :type => "text/javascript"}
      / AddThis Button END
    .row  
      .span4
        %p  
          = formatAddress @location[:address], @location[:city], @location[:state], @location[:zipcode], @location[:roomlist]
        
        %p 
          = @location[:orgphone]
          - unless @location[:website].nil?
            %br
            %a{:href => @location[:website]}
              = snippet @location[:website]

          - unless @location[:pcc_staff_person].nil?
            %br
              Administrator:  
              = formatContact @location[:pcc_staff_person], @location[:pcc_staff_person_email]
              
        - unless @location[:hours].nil?
          %p
            Hours:  
            = @location[:hours]
    
      .span3  
        %table.table.table-bordered
          %thead
            %tr
              %th Internet
              %th Training
              %th Wifi
              
          %tbody
            %tr
              %td
                = yes_no_icon @location[:internet]
              %td
                = yes_no_icon @location[:training]
              %td
                = yes_no_icon @location[:wifi]
    .row
      .span7
        %hr
        %h4 About this place
        %p
          - if @location[:friendly_description].nil?
            = "There are [#] computer rooms with [#] computers at #{@location[:organizationname]}. The labs are available to [some group of people] with priority given to [some other group of people]. Additional friendly directions and information about locating the lab within the building."
          - else
            = @location[:friendly_description]
        
        - unless @location[:training_headline].nil?  
          %hr
          %h4 
            Training:
            = @location[:training_headline]
          %p
            = @location[:training_description]

        - unless @location[:hardwarepublic].nil?  
          %hr
          %h4 
            Additional info
            
          %dl.dl-horizontal
            - unless @location[:hardwarepublic].nil?  
              %dt
                Computers
              %dd
                = @location[:hardwarepublic]
                computers available to the public
                
            - unless @location[:internetupload].nil?  
              %dt 
                Internet speed
              %dd
                Upload: 
                = @location[:internetupload] 
              %dd
                Download: 
                = @location[:internetdownload] 
              
            - unless @location[:pcuserestrictions].nil?
              %dt 
                Use restrictions
              %dd 
                = @location[:pcuserestrictions]
            
            - unless @location[:assistivetechnology].nil?  
              %dt 
                Assistive tech
              %dd 
                = @location[:assistivetechnology] 
            
            - unless @location[:timeallowedperuser].nil?  
              %dt 
                Time restrictions
              %dd
                = @location[:timeallowedperuser] 
              %dd
                = @location[:timeallowedperuserdetail]
                
    .row.hidden-phone
      .span7
        %hr
        %h4 
          Photos of 
          = @location[:organizationname]
        %ul.thumbnails#gallery{:"data-toggle" => "modal-gallery", :"data-target" => "#modal-gallery"}
          - list = flickr.photos.search(:tags => @location[:flickr_tag], :safe_search => "1")
          - if list.length == 0
            - list = flickr.photos.search(:tags => "public computer center", :safe_search => "1")  
          - photo_count = 0
          - list.each do |photo|
            - if (photo_count < 14)
              - photo_count += 1
              %li.span1
                %a.thumbnail{:href => "http://farm#{photo.farm}.static.flickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg", :rel =>"gallery", :title => "#{photo.title}"}
                  %img{:src => "http://farm#{photo.farm}.static.flickr.com/#{photo.server}/#{photo.id}_#{photo.secret}_s.jpg"} 

        %p
          Have a photo for this location? Upload it to
          %a{:href => "http://flickr.com"} Flickr
          and tag it with
          %strong
            = @location[:flickr_tag]
                
  .span5
    .well
      %p
        %img.img-polaroid{:src => "/assets/pcc-ex-132.jpg", :title => "Placeholder external image"}

      #mapDetail
      %hr
      %p.lead
        = formatAddress @location[:address], @location[:city], @location[:state], @location[:zipcode], @location[:roomlist]
      %p
        %a.btn.btn-success{:href => "https://maps.google.com/maps?f=d&hl=en&geocode=&daddr=#{encodeAddress(@location[:full_address])}"}
          Get directions
          %i.icon-white.icon-arrow-right
          
      
      %dl.dl-horizontal
        - unless @location[:nearestparking].nil?
          %dt
            Nearest parking 
          %dd
            = @location[:nearestparking]
          %dd
            = @location[:nearestparkingdetail]
        
        - unless @location[:publictransportationdetail].nil?
          %dt
            Public transit
          %dd 
            = @location[:publictransportationdetail]
            
        - unless @location[:handicapaccessdetail].nil?
          %dt
            Handicap access
          %dd 
            = @location[:handicapaccessdetail]

/ modal-gallery for the image gallery
#modal-gallery.modal.modal-gallery.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3.modal-title
  .modal-body
    .modal-image
  .modal-footer
    %a.btn.btn-info.modal-download{:target => "_blank"}
      %i.icon-download
      %span Download
    %a.btn.modal-prev
      %i.icon-arrow-left.icon-white
      %span Previous
    %a.btn.modal-next
      %span Next
      %i.icon-arrow-right.icon-white
    