- title @location[:organization_name]
- page_layout "container"
:javascript 
  $(function(){
    MapsDetailLib.initializeMap();
  
    if (MapsDetailLib.map != null)
      MapsDetailLib.displayPoint("#{encodeAddress(@location[:full_address])}");
  });

%script{:src => "/admin/admins/logged_in.js", :type => "text/javascript"}
.row
  .span7
    %h2
      = @location[:organization_name]
      %small.admin-edit{:style => 'display: none;'}
        %a{:href => "/location/#{params[:id]}/edit"} 
          %i.icon-pencil
          Edit
    %p.lead
      = @location[:organization_type]

    %p
      / AddThis Button BEGIN
      .addthis_toolbox.addthis_default_style
        %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
        %a.addthis_button_tweet
      :javascript
        var addthis_config = {"data_track_addressbar":false};
      %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5023cf8c771737b1", :type => "text/javascript"}
      / AddThis Button END
    .row  
      .span4
        %p  
          = formatAddress @location[:address], @location[:city], @location[:state], @location[:zip_code], @location[:room_list]
        
        %p 
          - unless @location[:org_phone].nil?
            = number_to_phone((@location[:org_phone].gsub /[^0-9x]/, ''), :area_code => true)
          - unless @location[:website].nil?
            %br
            %a{:href => @location[:website]}
              = snippet @location[:website]

          - unless @location[:pcc_staff_person].nil?
            %br
              Administrator:  
              = formatContact @location[:pcc_staff_person], @location[:pcc_staff_person_email]
              
        - unless @location[:hours].nil?
          %p
            Hours:  
            = @location[:hours]
    
      .span3  
        %table.table.table-bordered
          %thead
            %tr
              %th Internet
              %th Training
              %th Wi-Fi
              
          %tbody
            %tr
              %td
                = yes_no_icon @location[:internet]
              %td
                = yes_no_icon @location[:training]
              %td
                = yes_no_icon @location[:wifi]
    .row
      .span7
        %hr
        %h4 About this place
        %p
          - if @location[:friendly_description].nil?
            = "There are [#] computer rooms with [#] computers at #{@location[:organization_name]}. The labs are available to [some group of people] with priority given to [some other group of people]. Additional friendly directions and information about locating the lab within the building."
          - else
            = @location[:friendly_description]
        
        - unless @location[:training_headline].nil?  
          %hr
          %h4 
            Training
          %h5
            = @location[:training_headline]
          %p
            = @location[:training_description]

        - unless @location[:hardware_public].nil?  
          %hr
          %h4 
            Additional info
            
          %dl.dl-horizontal
            - unless @location[:hardware_public].nil?  
              %dt
                Computers
              %dd
                = @location[:hardware_public]
                computers available to the public
                
            - unless @location[:internet_upload].nil?  
              %dt 
                Internet speed
              %dd
                Upload: 
                = @location[:internet_upload] 
              %dd
                Download: 
                = @location[:internet_download] 
              
            - unless @location[:pc_use_restrictions].nil?
              %dt 
                Use restrictions
              %dd 
                = @location[:pc_use_restrictions]
            
            - unless @location[:assistive_technology].nil?  
              %dt 
                Assistive tech
              %dd 
                = @location[:assistive_technology] 
            
            - unless @location[:time_allowed_per_user].nil?  
              %dt 
                Time restrictions
              %dd
                = @location[:time_allowed_per_user] 
              %dd
                = @location[:time_allowed_per_user_detail]
                
    .row.hidden-phone
      .span7
        %hr
        %h4 
          Photos of 
          = @location[:organization_name]
        %ul.thumbnails#gallery{:"data-toggle" => "modal-gallery", :"data-target" => "#modal-gallery"}
          - getFlickrGalleryPhotos(@location[:flickr_tag]).each do |photo|
            %li.span1
              %a.thumbnail{:href => "/location/#{params[:id]}/c/image.jpg", :rel =>"gallery", :title => "#{photo.title}"}
                %img{:src => "/location/#{params[:id]}/s/image.jpg"} 

        %p
          Have a photo for this location? Upload it to
          %a{:href => "http://flickr.com"} Flickr
          and tag it with
          %strong
            = @location[:flickr_tag]
                
  .span5
    .well
      %p
        - featured_photo = getFlickrFeaturedPhoto(@location[:flickr_tag])
        - unless featured_photo.nil?
          %img.img-polaroid{:src => "/location/#{params[:id]}/image.jpg", :title => @location[:organization_name], :alt => @location[:organization_name]}

      #mapDetail
      %hr
      %p.lead
        = formatAddress @location[:address], @location[:city], @location[:state], @location[:zip_code], @location[:roomlist]
      %p
        %a.btn.btn-success{:href => "https://maps.google.com/maps?f=d&hl=en&geocode=&daddr=#{encodeAddress(@location[:full_address])}"}
          Get directions
          %i.icon-white.icon-arrow-right
          
      
      %dl.dl-horizontal
        - unless @location[:nearest_parking].nil?
          %dt
            Nearest parking 
          %dd
            = @location[:nearest_parking]
          %dd
            = @location[:nearest_parking_detail]
        
        - unless @location[:public_transportation_detail].nil?
          %dt
            Public transit
          %dd 
            = @location[:public_transportation_detail]
            
        - unless @location[:handicap_access_detail].nil?
          %dt
            Handicap access
          %dd 
            = @location[:handicap_access_detail]

#modal-gallery.modal.modal-gallery.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3.modal-title
  .modal-body
    .modal-image
  .modal-footer
    %a.btn.btn-info.modal-download{:target => "_blank"}
      %i.icon-download
      %span Download
    %a.btn.modal-prev
      %i.icon-arrow-left.icon-white
      %span Previous
    %a.btn.modal-next
      %span Next
      %i.icon-arrow-right.icon-white
    