!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) + " - Connect Chicago" : "Connect Chicago"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    :css
      @import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic');
    = content_for :stylesheets
    
    /%link(href="images/favicon.ico" rel="shortcut icon")

  %body
    %a{:href => APP_CONFIG['domain']}
      %img.logo{:src => "/assets/logo.png", :alt => "Connect Chicago"}
    .navbar
      .navbar-inner
        .container

          / .btn-navbar is used as the toggle for collapsed navbar content
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          .nav-collapse
            %ul.nav
              %li
                %a{:href => APP_CONFIG['domain']} Home
              - puts controller?("location")
              %li{:class => (controller?("location") || controller?("home")) ? "active" : ""}
                %a{:href => "/"} Locations
              %li
                %a{:href => APP_CONFIG['domain'] + "learn"} Learn
              %li
                %a{:href => APP_CONFIG['domain'] + "news-events"} News &amp; Events
              %li
                %a{:href => APP_CONFIG['domain'] + "volunteer"} Volunteer
              %li
                %a{:href => APP_CONFIG['domain'] + "about"} About

            %ul.nav.pull-right
              - if admin_signed_in?
                - if current_admin.try(:superadmin?)
                  %li{:class => controller?("admins") ? "active" : ""}
                    = link_to('Admins', admins_path)
                %li{:class => controller?("devise/registrations") ? "active" : ""}
                  = link_to('Account', edit_admin_registration_path)
                %li
                  = link_to('Logout', destroy_admin_session_path, :method => :delete)        
              - else
                %li
                  = link_to('Login', new_admin_session_path)

    %div{:class => content_for?(:page_layout) ? content_for(:page_layout) : "container"}
      .content
        - flash.each do |name, msg|
          %div#flash{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"} &#215;
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
        = yield
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = content_for :javascripts
    
    = javascript_include_tag "analytics_lib" if Rails.env.production?
